@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

body{
  margin: 30px;
}

h2{
  font-size: 1.6rem;
}

li{
  list-style: none;
  line-height: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px lightseagreen;
  border-radius: 10px;
}

.todos-items .btn{
  height: 2.5rem;
  align-self: center;
}

.data-content{
  cursor: pointer;
  width: 80%;
}

.data-content:hover{
  font-weight: bolder;
}

.hide-text{
  display: none;
}

.show-text{
  display: block;
}